// Colors
$backgroundColor : #27274D ;
$primaryColor : #BBABF1 ;
$secondaryColor : #806CC2 ;

// Font sizes and shadows
$headerFont : 'Holtwood One SC', serif ;
$textFont : 'Silkscreen', cursive ;
$headerFontSize : 5vw ;
$headerFontShadowSize : 1vw 1vw;
$textFontSize : 1.75vw ;

